[submodule "vendor/github/dotbot"]
	path = vendor/github/dotbot
	url = https://github.com/anishathalye/dotbot

[submodule "vendor/github/fonts"]
	path = vendor/github/fonts
	url = https://github.com/powerline/fonts